:root {
  /* Fonts */
  --vp-font-family-base: "Space Grotesk", "Inter var experimental", "Inter var",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

  --vp-layout-max-width: 95%;

  --vp-c-default-1: #f25c05;
  --vp-c-default-2: #f25c05;
  --vp-c-default-3: #f25c05;
  --vp-c-default-soft: #f25c05;

  --vp-c-gutter: #2E2E32;

  --vp-c-brand-1: #f25c05;
  --vp-c-brand-2: #f25c05;
  --vp-c-brand-3: #f25c05;
  --vp-c-brand-soft: #f25c05;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  /* Component: Button */
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);

  /* Component: Home */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #c84585 30%, #f25c05);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #f25c05 50%, #c84585 50%);
  --vp-home-hero-image-filter: blur(40px);

  /* Component: Custom Block */
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Emotion
 * -------------------------------------------------------------------------- */
/* docs */
.content-container {
  max-width: 100% !important;
}
.aside { 
max-width: 300px !important;
}
.aside-container { 
width: fit-content !important;
}
::-webkit-scrollbar {
  width: 12px;        
}
::-webkit-scrollbar-track {
  background: #1B1B1F;     
}
::-webkit-scrollbar-thumb {
  background-color: #2E2E32; 
  border-radius: 10px;     
  border: 3px solid #1B1B1F; 
}
/* titles in orange */
.vp-doc h1, h1 { 
  color: #f25c05 !important;
}
/* features icons in hero section */
.icon { 
  background-color: transparent !important;
}
/* features box in hero section */
/* .box { 
  border-width: 2px;
  border-style: solid;
  border-color: rgba(240, 91, 5, 0.75) !important;
  border-radius: 15px;
} */
/* on homepage */
.center-arrow { 
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
html {
  scroll-behavior: smooth;
}
* {
  scrollbar-width: thin; 
  scrollbar-color: #2E2E32 #1B1B1F;
}
.responsive-video { 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}
.responsive-video iframe { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
}
@media only screen and (max-width: 768px) { /* smaller resolution for mobile devices */
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}
@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}